/* designing header */
header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid var(--text);
}

header .header-settings {
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
}

header dialog[open]{
    width: 38ch;
    margin-top: 5px;
    z-index: 10;
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

header dialog[open] p{
    text-align: justify;
}
