body{
    display: grid;
    grid-template-rows: 4rem 1fr;
    grid-template-columns: 15rem 1fr;
    grid-template-areas: 
        "header header"
        "nav content";
    gap: 1rem;
    min-height: 95vh;
}

header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

header .header-settings{
    display: flex;
    gap: 2rem;
}

nav{
    grid-area: nav;
    padding: 1rem;
    display: grid;
    grid-template-rows: 3rem 5rem 1fr;
    gap: 1rem;
}

nav .create-task button{
    border-radius: 1rem;
    padding: 0.5rem 2rem;
    width: 100%;
    text-transform: uppercase;
}

nav .section-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

nav .section-buttons button{
    font-size: x-large;
    text-align: left;
    border: 0;
    background-color: white;
}

nav .lists-section{
    display: grid;
    grid-template-rows: 3rem min-content 3rem;
}

nav .list-dropdown{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

nav .list-dropdown button{
    border: 0;
    background-color: white;
    margin-top: 3px;
}

.lists-section button{
    justify-self: center;
    align-self: center;
}

nav .projects{
    display: grid;
    grid-template-rows: 3rem;
}

nav .projects .project-options{
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.3fr;
    align-items: center;
}

nav .projects .project-options button{
    border: 0;
    background-color: white;
    width: 30px;
    height: 30px;
}

nav dialog[open]{
    margin: auto;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 0.5rem;
}

nav dialog[open] label{
    font-size: large;
}

nav dialog[open] .buttons{
    display: flex;
    gap: 8px;
}

nav dialog[open] .buttons button{
    text-transform: uppercase;
    width: 5rem;
}

nav dialog[open] .buttons button:first-child{
    background-color: rgb(30, 78, 30);
    color: white;
}

#content{
    grid-area: content;
}