/* Default Themes */
:root {
    color-scheme: light dark;

    --text:light-dark(#050316, #ebe9fc) ;
    --background: light-dark(#fbfbfe,#010104);
    --primary:light-dark(#2f27ce,#3a31d8) ;
    --secondary: light-dark(#dddbff, #020024) ;
    --accent: light-dark(#443dff, #0600c2) ;
}

.light {
    color-scheme: light;
}

.dark {
    color-scheme: dark;
}

::backdrop {
    background-color: rgb(0, 0, 0, 0.8);
}

/* basic layout */
body {
    display: grid;
    grid-template-rows: 4rem 1fr;
    grid-template-columns: 15rem 1fr;
    grid-template-areas:
        "header header"
        "nav content";
    gap: 1rem;
    min-height: 95vh;
    background-color: var(--background);
}

/* designing header */
header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

header .header-settings {
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
}

/* designing navigation pane */
nav {
    grid-area: nav;
    padding: 1rem;
    display: grid;
    grid-template-rows: 3rem 5rem 1fr;
    gap: 1rem;
}

nav .create-task button {
    border-radius: 1rem;
    padding: 0.5rem 2rem;
    width: 100%;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: large;
    text-transform: uppercase;
    background-color: var(--primary);
    color: white;
}

nav .section-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

nav .section-buttons button {
    font-size: x-large;
    text-align: left;
    border: 0;
    background-color: var(--background);
}

nav .lists-section {
    display: grid;
    grid-template-rows: 3rem min-content 3rem;
}

nav .list-dropdown {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

nav .list-dropdown button {
    border: 0;
    background-color: var(--background);
    margin-top: 3px;
}

.lists-section button {
    justify-self: center;
    align-self: center;
}

nav .projects {
    display: grid;
    grid-template-rows: 3rem;
}

nav .projects .project-options {
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.3fr;
    align-items: center;
}

nav .projects .project-options button {
    border: 0;
    background-color: var(--background);
    width: 30px;
    height: 30px;
}

/* add list button and its respective dialog box in navigation pane */
button.add-new-list {
    background-color: var(--primary);
    font-size: medium;
    width: 5rem;
    color: white;
}

nav dialog[open] {
    margin: auto;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 0.5rem;
}

nav dialog[open] label {
    font-size: large;
}

nav dialog[open] .buttons {
    display: flex;
    gap: 8px;
}

nav dialog[open] .buttons button {
    text-transform: uppercase;
    width: 5rem;
}

nav dialog[open] .buttons button:first-child {
    background-color: rgb(30, 78, 30);
    color: white;
}

/* content area */
#content {
    grid-area: content;
}