/* designing navigation pane */
nav {
    grid-area: nav;
    padding: 1rem;
    display: grid;
    grid-template-rows: 3rem 5rem 1fr;
    gap: 1rem;
    border-right: 2px solid var(--text);
}

nav .create-task button {
    border-radius: 1rem;
    padding: 0.5rem 2rem;
    width: 100%;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: large;
    text-transform: uppercase;
    background-color: var(--accent);
    color: white;
}

nav .section-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

nav .section-buttons button {
    font-size: x-large;
    text-align: left;
    border: 0;
    background-color: var(--background);
}

nav .lists-section {
    display: grid;
    grid-template-rows: 3rem min-content 3rem;
}

nav .list-dropdown {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

nav .list-dropdown button {
    border: 0;
    background-color: var(--background);
    margin-top: 3px;
}

.lists-section button {
    justify-self: center;
    align-self: center;
}

nav .projects {
    display: grid;
    grid-template-rows: 3rem;
}

nav .projects .project-options {
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.3fr;
    align-items: center;
}

nav .projects .project-options button {
    border: 0;
    background-color: var(--background);
    width: 30px;
    height: 30px;
}

/* add list button and its respective dialog box in navigation pane */
button.add-new-list {
    background-color: var(--primary);
    font-size: medium;
    width: 5rem;
    color: white;
}

nav .add-new-list-dialog{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 0.5rem;
}

nav .add-new-list-dialog label {
    font-size: large;
}

nav .add-new-list-dialog .buttons {
    display: flex;
    gap: 8px;
}

nav .add-new-list-dialog .buttons button {
    text-transform: uppercase;
    width: 5rem;
}

nav .add-new-list-dialog .buttons button:first-child {
    background-color: rgb(30, 78, 30);
    color: white;
}

/* Add new task dialog box */
nav .add-new-task-dialog{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0.7rem;
    position: relative;
}

nav .add-new-task-dialog label{
    font-size: larger;
}

nav .add-new-task-dialog h1{
    grid-column: 1/-1;
    text-align: center;
    font-size: xx-large;
}

nav .add-new-task-dialog button.cancel-dialog{
    position: absolute;
    right: -1px;
    background-color: white;
    border-radius: 50%;
}

nav .add-new-task-dialog button.add-task-button{
    grid-column: 1/-1;
    justify-self: center;
    padding: 0px 8px;
    background-color:  rgb(30, 78, 30);
    color: white;
}